@model bcpp.Models.sledovane

@{
    ViewBag.Title = "Vytvořit";
}

<h2>Vytvořit sledovanou</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>sledovane</legend>

        <div class="form-group row">
            <label class="col-md-12 editor-label">Název*: </label>
            <div class="col-md-12">
                @Html.EditorFor(model => model.nazev)
                @Html.ValidationMessageFor(model => model.nazev)
            </div>
        </div>

        
        @if (User.IsInRole("admin"))
        {
            <div class="form-group row">
                <label class="col-md-12 editor-label">Uživatel*: </label>
                <div class="col-md-12">
               
                        @Html.DropDownList("uzivatel_id", String.Empty)
                        @Html.ValidationMessageFor(model => model.uzivatel_id)
                
                </div>
            </div>
        }

        <div class="form-group row">
            <label class="col-md-12 editor-label">Akcie*: </label>
            <div class="col-md-12">
                @Html.DropDownList("akcie_id", String.Empty)
                @Html.ValidationMessageFor(model => model.nazev)
            </div>
        </div>
        
        <p>
            <button class="btn btn-default" type="submit">Vytvořit</button> | @Html.ActionLink("Zpět na seznam", "Index")
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
