<!DOCTYPE html>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/highstock.js"></script>
<script src="~/Scripts/exporting.js"></script>
<link href='http://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>

@{string controllerName = ViewContext.RouteData.Values["controller"].ToString();}

 @if (User.IsInRole("user") || User.IsInRole("admin"))
    {
<script>
    
    $(document).ready(function(){
        var menu = $('#login');
        var menuTimeout = null;

        jQuery("#tabs").tabs({
            collapsible: true
        });

        $('#login').on('mouseenter mouseleave', function () {
            $(this).toggleClass('hover');
        });

        $(window).on('mousemove', mouseMoveHandler);
	
        getActual();

        function showMenu() {
            menu.show("slide", { direction: "up" });
        }

        function hideMenu() {
            menu.hide("slide", { direction: "up" });
        }

        function mouseMoveHandler(e) {
            if ( e.pageY < 20 || menu.hasClass('hover')) {
                clearTimeout(menuTimeout);
                menuTimeout = null;
                showMenu();
            } else if(!menuTimeout ) {
                menuTimeout = setTimeout(hideMenu, 500);
            }
        }
        /*
        function smallHeader() {
            var logo = $('#img_logo');
            var title = $('.site-title');

            logo.css("height", "100px");
            title.css("font-size", "1.5em");
        }*/
        
        function getActual() {
            var actual = "@HttpContext.Current.Request.Url.AbsolutePath";
            if (actual == '/' | actual == '/Akcie' | actual == '/Watchlist' | actual == '/Portfolio' | actual == '/Wallet') {
            }
            else {
                $("#tabs").tabs("option", "active", 1);
            }
        }
    });
</script>
 }
else
{
    <script>

        $(document).ready(function () {
            var menu = $('#login');
            menu.css("display","block");    
        });

    </script>
}

<script>
    $(function () {
        Highcharts.setOptions({
            lang: {
                shortMonths: ['Leden', 'Únor', 'Březen', 'Duben', 'Květen', 'Červen', 'Červenec', 'Srpen', 'Září', 'Říjen', 'Listopad', 'Prosinec'],
                weekdays: ['Pondělí', 'Úterý', 'Středa', 'Čtvrtek', 'Pátek', 'Sobota', 'Neděle'],
                //shortMonths: ['Led', 'Ún', 'Břez', 'Dub', 'Květ', 'Červ', 'Červc', 'Srp', 'Zář', 'Říj', 'List', 'Pros']
                rangeSelectorFrom: "Od",
                rangeSelectorTo: "Do",
                loading: "Načítání...",
                downloadJPEG: "Stáhnout JPEG obrázek",
                downloadPDF: "Stáhnout PDF obrázek",
                downloadPNG: "Stáhnout PNG obrázek",
                downloadSVG: "Stáhnout SVG obrázek",
                printChart: "Vytisknout graf"

            }
        });
    });
</script>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Burza cenných papírů Praha</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")

        <link rel="stylesheet" href="~/Content/bootstrap.min.css" type="text/css"/>
        <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    </head>
    <body>
        <section id="login">
            @Html.Partial("_LoginPartial")
        </section>
        <header>
            <div class="content-wrapper">
                <img id="img_logo" alt="Logo" src="@Url.Content("~/Content/Images/logo.png")" />
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Burza cenných papírů Praha", "Index", "Main")</p>
                </div>
                <div class="float-right">
                    @{ 
                        
                    if (User.IsInRole("admin"))
                    {
                        <div id="tabs">
                            <ul id="menu">
                                <li><a href="#tabs-1">Uživatelské rozhranní</a></li>
                                <li><a href="#tabs-2">Administrace</a></li>
                            </ul>
                            <div id="tabs-1">
                                <nav class="float-right user submenu">
                                    <ul id="menu">
                                        <li class="@(controllerName == "Akcie" ? "active" : "")">@Html.ActionLink("Akcie", "Index", "Akcie")</li>
                                        <li class="@(controllerName == "Watchlist" ? "active" : "")">@Html.ActionLink("Sledované", "Index", "Watchlist")</li>
                                        <li class="@(controllerName == "Portfolio" ? "active" : "")">@Html.ActionLink("Portfolio", "Index", "Portfolio")</li>
                                        <li class="@(controllerName == "Wallet" ? "active" : "")">@Html.ActionLink("Peněženka", "Index", "Wallet")</li>
                                    </ul>
                                </nav>
                            </div>
                            <div id="tabs-2">
                                <div class="float-right admin submenu">
                                    <nav>
                                        <ul id="menu">
                                            <li class="@(controllerName == "user" ? "active" : "")">@Html.ActionLink("Uživatelé", "Index", "user")</li>
                                            <li class="@(controllerName == "firma" ? "active" : "")">@Html.ActionLink("Firmy", "Index", "firma")</li>
                                            <li class="@(controllerName == "historieakcie" ? "active" : "")">@Html.ActionLink("Historie akcií", "Index", "historieakcie")</li>
                                            <li class="@(controllerName == "indexPX" ? "active" : "")">@Html.ActionLink("Index burzy", "Index", "indexPX")</li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        if (User.IsInRole("user"))
                        {
                            <nav>
                                <ul id="menu">
                                    <li class="@(controllerName == "Akcie" ? "active" : "")">@Html.ActionLink("Akcie", "Index", "Akcie")</li>
                                    <li class="@(controllerName == "Watchlist" ? "active" : "")">@Html.ActionLink("Sledované", "Index", "Watchlist")</li>
                                    <li class="@(controllerName == "Portfolio" ? "active" : "")">@Html.ActionLink("Portfolio", "Index", "Portfolio")</li>
                                    <li class="@(controllerName == "Wallet" ? "active" : "")">@Html.ActionLink("Peněženka", "Index", "Wallet")</li>
                                </ul>
                            </nav>
                        }
                        else
                        {
                            <!--<div class="welcome-text-main" style="top:20px">
                                Pro využívání našeho systému se můžete
                                <button class="btn btn-default" type="submit">@*Html.ActionLink("přihlásit", "Login", "Account")*@</button>
                                nebo
                                <button class="btn btn-default" type="submit">@*Html.ActionLink("zaregistrovat", "Register", "Account")*@</button>
                            </div>-->

                        }
                    }
                  }
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @{ Html.RenderPartial("_Alerts"); }
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - BcpP FI MUNI</p>
                </div>
            </div>
        </footer>

        @RenderSection("scripts", required: false)
    </body>
</html>
