<!DOCTYPE html>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

@if (User.IsInRole("user") || User.IsInRole("admin"))
{
    <script>

        $(document).ready(function () {
            var menu = $('#login');
            var menuTimeout = null;

            $('#login').on('mouseenter mouseleave', function () {
                $(this).toggleClass('hover');
            });

            $(window).on('mousemove', mouseMoveHandler);

            function showMenu() {
                menu.show("slide", { direction: "up" });
            }

            function hideMenu() {
                menu.hide("slide", { direction: "up" });
            }

            function mouseMoveHandler(e) {
                if (e.pageY < 20 || menu.hasClass('hover')) {
                    clearTimeout(menuTimeout);
                    menuTimeout = null;
                    showMenu();
                } else if (!menuTimeout) {
                    menuTimeout = setTimeout(hideMenu, 500);
                }
            }
        });

    </script>
}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Burza cenných papírů Praha</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="~/Content/bootstrap.min.css" type="text/css" />
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <section id="login">
        @Html.Partial("_LoginPartial")
    </section>
    <header>
        <div class="content-wrapper">
            <img id="img_logo" alt="Logo" src="@Url.Content("~/Content/Images/logo.png")" />
            <div class="float-left">
                <p class="site-title">@Html.ActionLink("Burza cenných papírů Praha", "Index", "Akcie")</p>
            </div>
            <div class="float-right">
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Akcie", "Index", "Akcie")</li>

                        @if (User.IsInRole("user") || User.IsInRole("admin"))
                        {
                            <li>@Html.ActionLink("Sledované", "Index", "Watchlist")</li>
                            <li>@Html.ActionLink("Portfolio", "Index", "Portfolio")</li>
                        }
                    </ul>
                    @if (User.IsInRole("Admin"))
                    {
                        <ul id="submenu">
                            <li>@Html.ActionLink("Uživatelé", "Index", "user")</li>
                            <li>@Html.ActionLink("Firmy", "Index", "firma")</li>
                        </ul>
                    }
                </nav>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
            </div>
        </div>
    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>
