<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Burza cenných papírů Praha</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <section id="login">
            @Html.Partial("_LoginPartial")
        </section>
        <header>
            <div class="content-wrapper">
                <img id="img_logo" alt="Logo" src="@Url.Content("~/Content/Images/logo.png")" /> 
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("Burza cenných papírů Praha", "Index", "Akcie")</p>
                </div>
                <div class="float-right">
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Akcie", "Index", "Akcie")</li>
                            @{
                                Alert a = new Alert();
                                
                            }
                            @if (User.IsInRole("user") || User.IsInRole("admin"))
                            {
                                <li>@Html.ActionLink("Sledované", "Index", "Watchlist")</li>
                                <li>@Html.ActionLink("Portfolio", "Index", "Portfolio")</li>
                            }
                        </ul>
                        @if (User.IsInRole("Admin"))
                        {
                            <ul id="submenu">
                                <li>@Html.ActionLink("Uživatelé", "Index", "user")</li>
                            </ul>
                        }
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
