@model bcpp.Models.LocalPasswordModel

<p>
     Nemáte lokální heslo pro tuto stránku. Přidejte lokální
     heslo, a tak se můžete přihlásit bez externího přihlášení.
</p>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Set Password Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Zadej heslo" />
    </fieldset>
}
