@model bcpp.Models.MyRegistrationModel
@{
    ViewBag.Title = "Register";
}
@using TwitterBootstrap2
@using TwitterBootstrapMVC

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new account.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

     
    
    <fieldset>
        <legend>Registration Form</legend>
        @using (var f = Html.Bootstrap().Begin(new Form().Type(FormType.Horizontal)))
        {
            @f.ControlGroup().TextBoxFor(m => m.regModel.UserName)
            @f.ControlGroup().PasswordFor(m => m.regModel.Password)
            @f.ControlGroup().PasswordFor(m => m.regModel.ConfirmPassword)
            @f.ControlGroup().TextBoxFor(m => m.uzModel.jmeno)
            @f.ControlGroup().TextBoxFor(m => m.uzModel.prijmeni)
            @f.ControlGroup().TextBoxFor(m => m.adModel.ulice)
            @f.ControlGroup().TextBoxFor(m => m.adModel.mesto)
            @f.ControlGroup().TextBoxFor(m => m.adModel.PSC)
            @f.ControlGroup().TextBoxFor(m => m.adModel.telefon)
            @f.ControlGroup().TextBoxFor(m => m.adModel.email)
            
            @f.ControlGroup().CustomControls(Html.Bootstrap().SubmitButton())
        }

    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
