@model Tuple<bcpp.Models.RegisterModel,bcpp.Models.uzivatel,bcpp.Models.adresa>
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Create a new account.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.Item1.UserName)
                @Html.TextBoxFor(m => m.Item1.UserName)
            </li>
            <li>s
                @Html.LabelFor(m => m.Item1.Password)
                @Html.PasswordFor(m => m.Item1.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.Item1.ConfirmPassword)
                @Html.PasswordFor(m => m.Item1.ConfirmPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.Item2.jmeno)
                @Html.TextBoxFor(m => m.Item2.jmeno)
            </li>
            <li>
                @Html.LabelFor(m => m.Item2.prijmeni)
                @Html.TextBoxFor(m => m.Item2.prijmeni)
            </li>
            <li>
                @Html.LabelFor(m => m.Item3.mesto)
                @Html.TextBoxFor(m => m.Item3.mesto)
            </li>
            <li>
                @Html.LabelFor(m => m.Item3.ulice)
                @Html.TextBoxFor(m => m.Item3.ulice)
            </li>
        </ol>
        <input type="submit" value="Register" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
