@model bcpp.Models.uzivatel

@{
    ViewBag.Title = "Vymazat";
}

<h3>Opravdu chcete vymazat tohoto uživatele?</h3>
<fieldset>
    <legend>uzivatel</legend>

    <div class="form-group row">
        <label class="col-md-2 control-label">Jméno: </label>
        <div class="col-md-10">@Html.DisplayFor(model => model.jmeno)</div>
    </div>

    <div class="form-group row">
        <label class="col-md-2 control-label">Příjmení: </label>
        <div class="col-md-10">@Html.DisplayFor(model => model.prijmeni)</div>
    </div>

    <div class="form-group row">
        <label class="col-md-2 control-label">Město: </label>
        <div class="col-md-10">@Html.DisplayFor(model => model.adresa.mesto)</div>
    </div>

    <div class="form-group row">
        <label class="col-md-2 control-label">Ulice: </label>
        <div class="col-md-10">@Html.DisplayFor(model => model.adresa.ulice)</div>
    </div>

    <div class="form-group row">
        <label class="col-md-2 control-label">PSČ: </label>
        <div class="col-md-10">@Html.DisplayFor(model => model.adresa.PSC)</div>
    </div>
    @if (Model.poznamka != null)
    {
    <div class="form-group row">
        <label class="col-md-2 control-label">Poznámka: </label>
        <div class="col-md-10">@Html.DisplayFor(model => model.poznamka)</div>
    </div>
    }
    <div class="form-group row">
        <label class="col-md-2 control-label">Peněženka: </label>
        <div class="col-md-10">@Html.DisplayFor(model => model.penezenka) Kč</div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <button type="submit" class="btn btn-default">Vymazat</button> |
        @Html.ActionLink("Zpět na seznam", "Index")
    </p>
}
