@model bcpp.Models.uzivatel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>uzivatel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.jmeno)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.jmeno)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.prijmeni)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.prijmeni)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.adresa.mesto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.adresa.mesto)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.poznamka)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.poznamka)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.penezenka)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.penezenka)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
