@model bcpp.Models.uzivatel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>uzivatel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.jmeno)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.jmeno)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.prijmeni)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.prijmeni)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nick)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nick)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.adresa_id)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.adresa_id)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.heslo_hash)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.heslo_hash)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.poznamka)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.poznamka)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.penezenka)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.penezenka)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.uzivatel_typ)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.uzivatel_typ)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.uzivatel_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
