@model bcpp.Models.uzivatel

@{
    ViewBag.Title = "Detaily ";
}

<div style="float:right">
    <button class="btn btn-default">@Html.ActionLink("Upravit uživatele", "Edit", new { id = Model.uzivatel_id })</button>
    @Html.Bootstrap().ActionLinkButton("Zpět na seznam uživatelů", "Index", "User")
</div>

<h2>Detaily uživatele @Html.DisplayFor(model => model.jmeno) @Html.DisplayFor(model => model.prijmeni)</h2>
<br/>
<fieldset>
    <legend>uzivatel</legend>

    <div class="form-group row">
        <label class="col-md-2 control-label">Jméno: </label>
        <div class="col-md-10">@Html.DisplayFor(model => model.jmeno)</div>
    </div>

    <div class="form-group row">
        <label class="col-md-2 control-label">Příjmení: </label>
        <div class="col-md-10">@Html.DisplayFor(model => model.prijmeni)</div>
    </div>

    <div class="form-group row">
        <label class="col-md-2 control-label">Město: </label>
        <div class="col-md-10">@Html.DisplayFor(model => model.adresa.mesto)</div>
    </div>

    <div class="form-group row">
        <label class="col-md-2 control-label">Ulice: </label>
        <div class="col-md-10">@Html.DisplayFor(model => model.adresa.ulice)</div>
    </div>

    <div class="form-group row">
        <label class="col-md-2 control-label">PSC: </label>
        <div class="col-md-10">@Html.DisplayFor(model => model.adresa.PSC)</div>
    </div>
    @if (Model.poznamka != null)
    {
    <div class="form-group row">
        <label class="col-md-2 control-label">Poznámka: </label>
        <div class="col-md-10">@Html.DisplayFor(model => model.poznamka)</div>
    </div>
    }
    <div class="form-group row">
        <label class="col-md-2 control-label">Peněženka: </label>
        <div class="col-md-10">@Html.DisplayFor(model => model.penezenka) Kč</div>
    </div>
</fieldset>
