@model bcpp.Models.AkcieDetail
@using bcpp.Helpers

@{
    WebGrid grid = new WebGrid(Model.Historie);
    ViewBag.Title = "Detaily";
}

<script>
    $(function () {

        $.getJSON('@Url.Action("GetData", "Akcie", new { id = Model.Akcie.akcie_id })', function (data1) {
            $.getJSON('@Url.Action("GetData", "Akcie", new { id = Model.Akcie.akcie_id, nakup = false })', function (data2) {

                $('#index-container').highcharts('StockChart', {

                    chart: {
                        zoomType: 'x'
                    },
                    navigator: {
                        adaptToUpdatedData: true
                    },
                    tooltip: {
                        pointFormat: '<span style="color:{point.color}">\u25CF</span> {series.name}: <b>{point.y:.2f} Kč</b><br/>'
                    },
                    rangeSelector: {
                        inputBoxWidth: 130,
                        buttons: [{
                            type: 'week',
                            count: 1,
                            text: '1t'
                        }, {
                            type: 'month',
                            count: 1,
                            text: '1m'
                        }, {
                            type: 'month',
                            count: 6,
                            text: '6m'
                        }, {
                            type: 'year',
                            count: 1,
                            text: '1r'
                        }, {
                            type: 'year',
                            count: 3,
                            text: '3r'
                        }, {
                            type: 'all',
                            text: 'Vše'
                        }],
                        selected: 3
                    },
                    xAxis: {
                        type: 'date',
                        labels: { format: "{value:%m %Y}" }
                    },

                    yAxis: {
                        title: {
                            text: 'Cena'
                        },
                        floor: 0,
                    },

                    title: {
                        text: 'Změny v prodejní a nákupní ceně akcie'
                    },
                    scrollbar: {
                        liveRedraw: true
                    },
                    series: [{
                        turboThreshold: 5330,
                        name: 'Nákupní cena: ',
                        data: data1
                    },{
                        turboThreshold: 5330,
                        name: 'Prodejní cena: ',
                        data: data2
                    }]
                })
            });
        });
    });

</script>

<div style="float:right">
    @Html.Bootstrap().ActionLinkButton("Zpět na seznam akcií", "Index", "Akcie")
</div>

<fieldset>
    <legend>Akcie</legend>
    @if (Model.Akcie.firma.ICO != null) { 
    <div class="form-group row">
        <label class="col-md-2 control-label">IČO firmy</label>
        <div class="col-md-10">@Html.DisplayFor(model => Model.Akcie.firma.ICO)</div>
    </div>
    }
    <div class="form-group row">
        <label class="col-md-2 control-label">Jméno akcie</label>
        <div class="col-md-10">@Html.DisplayFor(model => Model.Akcie.nazev)</div>
    </div>
    <div class="form-group row">
        <label class="col-md-2 control-label">Zkratka akcie</label>
        <div class="col-md-10">@Html.DisplayFor(model => Model.Akcie.zkratka)</div>
    </div>

    </fieldset>

<div id="index-container" style="width:100%; height:400px;"></div>
