@model bcpp.Models.MainPageModel
@using bcpp.Helpers

@{
    WebGrid aGrid = new WebGrid(Model.AModel);
    WebGrid iGrid = new WebGrid(Model.IModel);
    
}

<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/stock/modules/exporting.js"></script>
<script>

    $(function () {
        $('#index-container').highcharts({
            chart: {
                type: 'spline'
            },
            title: {
                text: 'Graf vývoje PX indexu'
            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: { // don't display the dummy year
                    month: '%e. %b',
                    year: '%b'
                },
                categories: [@{foreach (var item in Model.IModel){ @Html.Raw("'")@item.datum @Html.Raw("'") @Html.Raw(",")}}]
            },
            yAxis: {
                title: {
                    text: 'Hodnota indexu'
                }
            },
            series: [{
                name: 'Index',
                data: [@{foreach (var item in Model.IModel){ @item.hodnota @Html.Raw(",")}}]
            }]
        });
    });
    /*_______*/

    $(function () {

        var data = [@{foreach (var item in Model.IModel){ @item.hodnota @Html.Raw(",")}}],
                     StockChart;
        $(document).ready(function () {

            // Create a timer
            var start = +new Date();

            // Create the chart
            $('#inde-container').highcharts('StockChart', {
                chart: {
                    events: {
                    },
                    zoomType: 'x'
                },

                rangeSelector: {

                    buttons: [{
                        type: 'week',
                        count: 1,
                        text: '1w'
                    }, {
                        type: 'month',
                        count: 1,
                        text: '1m'
                    }, {
                        type: 'month',
                        count: 6,
                        text: '6m'
                    }, {
                        type: 'year',
                        count: 1,
                        text: '1y'
                    }, {
                        type: 'all',
                        text: 'All'
                    }],
                    selected: 3
                },
                xAxis: {
                    categories: [@{foreach (var item in Model.IModel){ @Html.Raw("'")@item.datum @Html.Raw("'") @Html.Raw(",")}}]
                ,
                title: {
                    text: 'Date'
                }
                },

                yAxis: {
                title: {
                            text: 'Index PX'
                }
                },

            title: {
                text: 'Vývoj PX indexu'
            },

            series: [{
                name: 'PX index',
                data: data,
                //pointStart: Date.UTC(2004, 3, 1),
                //pointInterval: 24 * 3600 * 1000,
                /*tooltip: {
                    valueDecimals: 1,
                    valueSuffix: ''
                }*/
            }]

        });
    });
    });


    /*---------*/

    $(function () {
        var data = [@{foreach (var item in Model.IModel){ @item.hodnota @Html.Raw(",")}}],
            detailChart;

        $(document).ready(function () {

            // create the detail chart
            function createDetail(masterChart) {

                // prepare the detail chart
                var detailData = [@{foreach (var item in Model.IModel){ @item.hodnota @Html.Raw(",")}}],
                    detailStart = Date.UTC(2000, 7, 1);

                $.each(masterChart.series[0].data, function () {
                    if (this.x >= detailStart) {
                        detailData.push(this.y);
                    }
                });

                // create a detail chart referenced by a global variable
                detailChart = $('#detail-container').highcharts({
                    chart: {
                        marginBottom: 120,
                        reflow: false,
                        marginLeft: 50,
                        marginRight: 20,
                        rangeSelector: {

                            buttons: [{
                                type: 'month',
                                count: 1,
                                text: 'měs'
                            }, {
                                type: 'month',
                                count: 6,
                                text: '6 měs'
                            }, {
                                type: 'year',
                                count: 1,
                                text: 'rok'
                            }, {
                                type: 'year',
                                count: 3,
                                text: '3 roky'
                            }, {
                                type: 'all',
                                text: 'Vše'
                            }],
                            selected: 3
                        },
                        style: {
                            position: 'absolute'
                        }
                    },
                    credits: {
                        enabled: false
                    },
                    title: {
                        text: 'Vývoj hodnoty Index PX'
                    },
                    subtitle: {
                        text: 'Vyberte si oblast zobrazení tažením přes spodní graf'
                    },
                    xAxis: {
                        type: 'datetime'
                    },
                    yAxis: {
                        title: {
                            text: null
                        },
                        maxZoom: 0.1
                    },
                    tooltip: {
                        formatter: function () {
                            var point = this.points[0];
                            return '<b>' + point.series.name + '</b><br/>' +
                                Highcharts.dateFormat('%m. %e. %Y', this.x) + ':<br/>' +
                                'Index = ' + Highcharts.numberFormat(point.y, 2);
                        },
                        shared: true
                    },
                    legend: {
                        enabled: false
                    },
                    plotOptions: {
                        series: {
                            marker: {
                                enabled: false,
                                states: {
                                    hover: {
                                        enabled: true,
                                        radius: 3
                                    }
                                }
                            }
                        }
                    },
                    series: [{
                        name: 'Index PX',
                        pointStart: detailStart,
                        pointInterval: 24 * 3600 * 1000,
                        data: detailData
                    }],

                    exporting: {
                        enabled: false
                    }

                }).highcharts(); // return chart
            }

            // create the master chart
            function createMaster() {
                $('#master-container').highcharts({
                    chart: {
                        reflow: false,
                        borderWidth: 0,
                        backgroundColor: null,
                        marginLeft: 50,
                        marginRight: 20,
                        zoomType: 'x',
                        rangeSelector: {

                            buttons: [{
                                type: 'month',
                                count: 1,
                                text: 'měs'
                            }, {
                                type: 'month',
                                count: 6,
                                text: '6 měs'
                            }, {
                                type: 'year',
                                count: 1,
                                text: 'rok'
                            }, {
                                type: 'year',
                                count: 3,
                                text: '3 roky'
                            }, {
                                type: 'all',
                                text: 'Vše'
                            }],
                            selected: 3
                        },
                        events: {

                            // listen to the selection event on the master chart to update the
                            // extremes of the detail chart
                            selection: function (event) {
                                var extremesObject = event.xAxis[0],
                                    min = extremesObject.min,
                                    max = extremesObject.max,
                                    detailData = [],
                                    xAxis = this.xAxis[0];

                                // reverse engineer the last part of the data
                                $.each(this.series[0].data, function () {
                                    if (this.x > min && this.x < max) {
                                        detailData.push([this.x, this.y]);
                                    }
                                });

                                // move the plot bands to reflect the new detail span
                                xAxis.removePlotBand('mask-before');
                                xAxis.addPlotBand({
                                    id: 'mask-before',
                                    from: Date.UTC(2000, 0, 1),
                                    to: min,
                                    color: 'rgba(0, 0, 0, 0.2)'
                                });

                                xAxis.removePlotBand('mask-after');
                                xAxis.addPlotBand({
                                    id: 'mask-after',
                                    from: max,
                                    to: Date.UTC(2002, 11, 31),
                                    color: 'rgba(0, 0, 0, 0.2)'
                                });


                                detailChart.series[0].setData(detailData);

                                return false;
                            }
                        }
                    },
                    title: {
                        text: null
                    },
                    xAxis: {
                        type: 'date',
                        showLastTickLabel: true,
                        maxZoom: 14 * 24 * 3600000, // fourteen days
                        plotBands: [{
                            id: 'mask-before',
                            from: Date.UTC(2000, 0, 1),
                            to: Date.UTC(2002, 7, 1),
                            color: 'rgba(0, 0, 0, 0.2)'
                        }],
                        title: {
                            text: null
                        }
                    },
                    yAxis: {
                        gridLineWidth: 0,
                        labels: {
                            enabled: false
                        },
                        title: {
                            text: null
                        },
                        min: 0.6,
                        showFirstLabel: false
                    },
                    tooltip: {
                        formatter: function () {
                            return false;
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    credits: {
                        enabled: false
                    },
                    plotOptions: {
                        series: {
                            fillColor: {
                                linearGradient: [0, 0, 0, 70],
                                stops: [
                                    [0, Highcharts.getOptions().colors[0]],
                                    [1, 'rgba(255,255,255,0)']
                                ]
                            },
                            lineWidth: 1,
                            marker: {
                                enabled: false
                            },
                            shadow: false,
                            states: {
                                hover: {
                                    lineWidth: 1
                                }
                            },
                            enableMouseTracking: false
                        }
                    },

                    series: [{
                        type: 'area',
                        name: 'Index PX',
                        pointInterval: 24 * 3600 * 1000,
                        pointStart: Date.UTC(2000, 0, 1),
                        data: data
                    }],

                    exporting: {
                        enabled: false
                    }

                }, function (masterChart) {
                    createDetail(masterChart);
                })
                    .highcharts(); // return chart instance
            }

            // make the container smaller and add a second container for the master chart
            var $container = $('#indes-container')
                .css('position', 'relative');

            $('<div id="detail-container">')
                .appendTo($container);

            $('<div id="master-container">')
                .css({ position: 'absolute', top: 300, height: 100, width: '100%' })
                .appendTo($container);

            // create master and in its callback, create the detail chart
            createMaster();
        });

    });
</script>

@aGrid.GetHtml(
    tableStyle: "table table-striped table-hover",
    columns:
    aGrid.Columns
    (
        aGrid.Column("nazev", "Název"),
        aGrid.Column("zkratka", "Zkratka")
))

<div id="index-container" style="width:100%; height:400px;"></div>

@iGrid.GetHtml(
    tableStyle: "table table-striped table-hover",
    columns:
    iGrid.Columns
    (
        iGrid.Column("datum", "Datum"),
        iGrid.Column("hodnota", "Hodnota")
))
