@model bcpp.Models.MainPageModel
@using PagedList.Mvc;
@using bcpp.Helpers
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@using System.Globalization;

@{
    WebGrid aGrid = new WebGrid(Model.AModel, canPage: false, canSort: false);
    WebGrid iGrid = new WebGrid(Model.IModel);
}

<script>

    $(function () {

        var data2 = [@{foreach (var item in Model.I2Model){
                        @Html.Raw("[")
                        @((item.datum - new DateTime(1970, 1, 1,0,0,0).ToLocalTime()).TotalSeconds);
                        @Html.Raw("000,");
                        @item.hodnota
                        @Html.Raw("],")}}],
            StockChart;

        var data = [@{foreach (var item in Model.IModel){
                        @Html.Raw("[")
                        @((item.datum - new DateTime(1970, 1, 1,0,0,0).ToLocalTime()).TotalSeconds);
                        @Html.Raw("000,");
                        @item.hodnota
                        @Html.Raw("],")}}],
            StockChart;
        
        data = data.sort();
        $(document).ready(function () {

            $('#index-container').highcharts('StockChart', {

                chart: {
                    zoomType: 'x'
                },
                navigator: {
                    data: data2
                },
                rangeSelector: {
                    inputBoxWidth: 130,
                    buttons: [{
                        type: 'week',
                        count: 1,
                        text: '1t'
                    }, {
                        type: 'month',
                        count: 1,
                        text: '1m'
                    }, {
                        type: 'month',
                        count: 6,
                        text: '6m'
                    }, {
                        type: 'year',
                        count: 1,
                        text: '1r'
                    },{
                        type: 'year',
                        count: 3,
                        text: '3r'
                    }, {
                        type: 'all',
                        text: 'Vše'
                    }],
                    selected: 2
                },
                xAxis: {
                    type: 'date',
                    labels: { format: "{value:%m %Y}" }
                },

                yAxis: {
                    title: {
                        text: 'Index PX'
                    }
                },

                title: {
                    text: 'Vývoj hodnoty PX index'
                },

                series: [{
                    turboThreshold: 3330,
                    name: 'PX index: ',
                    data: data2,
                    tooltip: {
                        valueSuffix: '',
                        labels: { format: "{value:%j. %F %Y}" }
                    },
                }]
            });
            //chart.xAxis[0].setExtremes(minRange, maxRange);
        });
    });

</script>

@aGrid.GetHtml(
    tableStyle: "table table-striped table-hover akcie-table",
    columns:
    aGrid.Columns
    (
        aGrid.Column("nazev", "Název"),
        aGrid.Column("zkratka", "Zkratka"),
        aGrid.Column("cena_prodej", "Prodejní cena [Kč]", format: (item) => string.Format("{0:0.00}", item.cena_prodej)),
        aGrid.Column("cena_nakup", "Nákupní cena [Kč]", format:(item) => string.Format("{0:0.00}", item.cena_nakup)),
        aGrid.Column("datum", "Cena k datu",format:(item)=> string.Format("{0:dd.MM.yyyy}",item.datum))
))


<div class="index-chart" id="index-container" style="width:70%; height:450px;"></div>
<div class="index-table" style="width:25%;float:left">
    @iGrid.GetHtml(
    tableStyle: "table table-striped table-hover",
    columns:
    iGrid.Columns
    (
    iGrid.Column("datum", "Datum", format: (item) => string.Format("{0:dd.MM.yyyy}", item.datum)),
                iGrid.Column("hodnota", "Hodnota")
    ))

    Page @(Model.IModel.PageCount < Model.IModel.PageNumber ? 0 : Model.IModel.PageNumber) of @Model.IModel.PageCount

    @{var options = new PagedListRenderOptions();
    //options.PageCountAndCurrentLocationFormat = ("Strana {0} z {1}.");
    options.MaximumPageNumbersToDisplay = 3;
    options.DisplayPageCountAndCurrentLocation = false;
    }

    @Html.PagedListPager(Model.IModel, page => Url.Action("Index",
                    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }), options)

</div>

