@model bcpp.Models.historie_akcie

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>historie_akcie</legend>

        @Html.HiddenFor(model => model.id_akcie)

        @Html.HiddenFor(model => model.datum)

        @Html.HiddenFor(model => model.cena_nakup)

        @Html.HiddenFor(model => model.cena_prodej)

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
