@model PagedList.IPagedList<bcpp.Models.historie_akcie>
@using PagedList.Mvc;
@using bcpp.Helpers
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />



@{
    WebGrid grid = new WebGrid(Model);
    //WebGrid grid = new WebGrid(canPage: true, canSort: true);
    //grid.Bind(Model.Content, rowCount: Model.TotalRecords, autoSortAndPage: true);
}

@using (Html.BeginForm())
{
    <p>
        Hledat podle jména akcie: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <button class="btn btn-default" type="submit">Hledat</button>
    </p>
}

@grid.GetHtml(
    tableStyle: "table table-striped table-hover",
    columns:
        grid.Columns(
        grid.Column("akcie.nazev", "Název akcie"),
        grid.Column("datum", "Cena k datu", format: (item) => string.Format("{0:dd.MM.yyyy}", item.datum)),
        grid.Column("cena_prodej", "Prodejní cena [Kč]"),
        grid.Column("cena_nakup", "Nákupní cena [Kč]")
        ).ToArray()
)

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

