@model bcpp.Models.firma

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>firma</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.adresa.mesto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.adresa.mesto)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nazev)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nazev)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ICO)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ICO)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DIC)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DIC)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
