@model bcpp.Models.portfolio

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>portfolio</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.uzivatel_id, "uzivatel")
        </div>
        <div class="editor-field">
            @Html.DropDownList("uzivatel_id", String.Empty)
            @Html.ValidationMessageFor(model => model.uzivatel_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.akcie_id, "akcie")
        </div>
        <div class="editor-field">
            @Html.DropDownList("akcie_id", String.Empty)
            @Html.ValidationMessageFor(model => model.akcie_id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.pocet)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.pocet)
            @Html.ValidationMessageFor(model => model.pocet)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.cena)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cena)
            @Html.ValidationMessageFor(model => model.cena)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.nakup)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nakup)
            @Html.ValidationMessageFor(model => model.nakup)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.datum_zmeny)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.datum_zmeny)
            @Html.ValidationMessageFor(model => model.datum_zmeny)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
