@model bcpp.Models.portfolio

@{
    ViewBag.Title = "Vymazat";
}

<h3>Opravdu chcete vymazat toto portfolio?</h3>

<fieldset>
    <legend>portfolio</legend>

    <div class="form-group row">
        <label class="col-md-2 control-label">Jméno: </label>
        <div class="col-md-10">@Html.DisplayFor(model => model.uzivatel.jmeno)</div>
    </div>

    <div class="form-group row">
        <label class="col-md-2 control-label">Příjmení: </label>
        <div class="col-md-10">@Html.DisplayFor(model => model.uzivatel.prijmeni)</div>
    </div>

    <div class="form-group row">
        <label class="col-md-2 control-label">Akcie: </label>
        <div class="col-md-10">@Html.DisplayFor(model => model.akcie.nazev)</div>
    </div>

    <div class="form-group row">
        <label class="col-md-2 control-label">Počet: </label>
        <div class="col-md-10">@Html.DisplayFor(model => model.pocet)</div>
    </div>

    <div class="form-group row">
        <label class="col-md-2 control-label">Poslední datum změny: </label>
        <div class="col-md-10">@Html.DisplayFor(model => model.datum_zmeny)</div>
    </div>

    
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <button type="submit" class="btn btn-default" >Vymazat</button> |
        @Html.ActionLink("Zpět na list", "Index")
    </p>
}
