@model IEnumerable<bcpp.Models.portfolio>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.uzivatel.jmeno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.akcie.nazev)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pocet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nakup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.datum_zmeny)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.uzivatel.jmeno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.akcie.nazev)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pocet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nakup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.datum_zmeny)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.portfolio_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.portfolio_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.portfolio_id })
        </td>
    </tr>
}

</table>
